@charset "utf-8";

/* header */
header {
    background: url(../img/index-img.png) 950px no-repeat;
    background-size: 35%;
}

article:first-of-type {
    background-color: rgb(236, 241, 244);
}

article img {
    position: absolute;
    left: 300px;
    width: 500px;
}

article .text {
    float: right;
    margin-top: 180px;
}

article:last-of-type {
    height: 200px;
}

article:last-of-type h2 {
    margin-top: 100px;
}

article:last-of-type .btn {
    margin-top: 30px;
    width: 100px;
    padding: 30px;
    font-size: 23px;
}

.btn-wrapper {
    text-align: center;
}