<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- BoardMapper.xml -->
<mapper namespace="com.web.root.mybatis.board.BoardMapper">

	<resultMap type="com.web.root.board.dto.BoardDTO" id="board">
		<result property="product_no" column="product_no"/>
		<result property="product_title" column="product_title"/>
		<result property="product_day" column="product_day"/>
		<result property="product_view" column="product_view"/>
		<result property="product_main" column="product_main"/>
		<result property="product_img" column="product_img"/>
		<result property="product_wait" column="product_wait"/>
		<result property="product_soldout" column="product_soldout"/>
		<result property="product_writer" column="product_writer"/>
		<result property="product_type" column="product_type"/>
		<result property="product_price" column="product_price"/>
		<result property="product_trade" column="product_trade"/>
		<result property="product_status" column="product_status"/>
		<result property="product_status1" column="product_status1"/>
	</resultMap>
	
<!-- 	<select id="boardAllList" resultMap="board"> -->
<!-- 		select * from mvc_board -->
<!-- 	</select> -->
	<select id="boardAllList" resultMap="board">
		select B.* from
		(select rownum rn, A.* from
		(select * from board_product order by product_no desc)A )B
		where 1=1
		and rn between #{s} and #{e}
		and B.product_type='A'
		
	</select>
	<select id="qna" resultMap="board">
		select B.* from
		(select rownum rn, A.* from
		(select * from board_product order by product_no desc)A )B
		where rn between #{s} and #{e}
		and B.product_type='B'	
	</select>
	
	<select id="mypageList" resultMap="board">
		Select product_no,product_title,product_writer,product_day from board_product a,
              			membership1 b
             			where a.product_writer =b.Id
	</select>
    
	<insert id="writeSave">
    	insert into board_product(product_no, product_writer, product_title, product_main, product_img ,product_type,product_price,product_trade,product_status,product_status1)
    	values(mvc_board_seq.nextval, #{product_writer}, #{product_title}, #{product_main}, #{product_img},#{product_type},#{product_price},#{product_trade},#{product_status},#{product_status1})
	</insert>
	
	<insert id="qnawriteSave">
    	insert into board_product(product_no, product_writer, product_title, product_main, product_img ,product_type)
    	values(mvc_board_seq.nextval, #{product_writer}, #{product_title}, #{product_main}, #{product_img},#{product_type})
	</insert>
	
	<select id="contentView" resultMap="board">
		select * from board_product where product_no=#{product_no}
	</select>
	
	<select id="qnacontentView" resultMap="board">
		select * from board_product where product_no=#{product_no}
	</select>
	
	<update id="upHit"> 
 		update board_product set product_view=product_view+1 -->
		where product_no=#{product_no} -->
	</update> 
	
	<update id="modify">
		update board_product set product_title=#{product_title},
						         product_main=#{product_main},						         
						         product_img=#{product_img},						         
						         product_price=#{product_price},
						         product_trade=#{product_trade},
						         product_status=#{product_status},
						         product_status1=#{product_status1} where product_no=#{product_no}
	</update>
	
	<update id="qnamodify">
		update board_product set product_title=#{product_title},
						         product_main=#{product_main},						         
						         product_img=#{product_img}	where product_no=#{product_no}
	</update>
	
	<delete id="delete">
		delete from board_product where product_no=#{product_no}
	</delete>
	
	<delete id="qnadelete">
		delete from board_product where product_no=#{product_no}
	</delete>
	
	<select id="selectBoardCount" resultType="Integer">
		select count(*) from board_product
	</select>
	
<!-- 	<select id="qna" resultMap="board"> -->
<!-- 		select B.* from -->
<!-- 		(select rownum rn, A.* from -->
<!-- 		(select * from mvc_board order by write_no desc)A )B -->
<!-- 		where rn between #{s} and #{e} -->
<!-- 	</select> -->
	
</mapper>
